.button {
  background-color: Crimson;  
  border-radius: 5px;
  color: black;
  float: left!important;
  margin-left: 0px;
  padding-left: 0px;
  text-decoration: none;
}

.button:focus,
.button:hover {
  background-color: rgb(251, 248, 248);
  color: rgb(37, 9, 9);
}

.content {
  display: none;
  margin: 1em 0;
}

.content.active,
.no-js .content {
  display: block;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}