.THIS .bgrnd{
    background-color:#E6E6FA;

}
.THIS .cardbg{
    background-color:#F0F8FF;
    
}
.THIS .slds-card__header{
    background-color:#E0FFFF;
    
}
.THIS .img {

    width : 10px; 
    height : 20px;
}